*{
  margin: 0px;
  padding: 0px;
}

body
{
  font-size:1.6rem;
  box-sizing: border-box;
  height: 100vh;
  /*background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url("image/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/

}

.maindiv {
  height: 550px;
  width: 550px;
  margin: auto;
  background-color: #ede9d3;
  border-style: solid;
  border-color: orange;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  outline-style: solid;
  outline-color: black;
  outline-offset: 4px;
  margin-top: 200px;

}

.heading-primary
{
    text-transform: uppercase;
    position: relative;
    left: 180px;
    top: 38px;
    color: orange;
}
.heading-secondary
{
    text-transform: uppercase;
    position: relative;
    left: 270px;
    top: 4px;
  

}
.txtuser
{
  position: relative;
  top: 50px;
  left: 130px;
  height: 27px;
  width: 280px;
  padding: 10px;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 18px;
}
.txtpass
{
  position: relative;
  top: 40px;
  left: 130px;
  height: 27px;
  width: 280px;
  padding: 10px;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 18px;
}
.chkbox{
  position: relative;
  top: 20px;
  left: 133px;
  width: 17px;
  height: 17px;

}
.lblrem{
  position: relative;
  top: 18px;
  left: 136px;
  font-size: 18px;

}
.btnsend
{
  position: relative;
  left: 130px;
  height: 40px;
  width: 305px;
  padding: 10px;
  border-radius: 5px;
  top: 30px;
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: 400px;
  cursor: pointer;
  border: none;

}

.btnsend:hover {
  transform: scaleY(2px);
  background-color: darkkhaki;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  
}
